In [1]:
import sqlite3

In [2]:
# chinook.db is in ../data
# connect to DB
conn = sqlite3.connect("data/chinook.db")

In [4]:
"""返回一个包含所有表名的列表"""
table_names = []  # 创建一个空的表名列表

# 执行SQL查询，获取数据库中所有表的名字
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")

# 遍历查询结果，并将每个表名添加到列表中
for table in tables.fetchall():
  table_names.append(table[0])

print(table_names)

['albums', 'sqlite_sequence', 'artists', 'customers', 'employees', 'genres', 'invoices', 'invoice_items', 'media_types', 'playlists', 'playlist_track', 'tracks', 'sqlite_stat1']